@mixin font_family {
  font-family: "SofiaPro", sans-serif;
}

@mixin font_style{
    -webkit-font-smoothing: antialiased;
    font-style: normal !important;
    font-size: 12px !important;
    font-family: "Mulish", sans-serif !important;
    font-weight: 100;
}
